@page
@model ShoeStore.Pages.Auth.LoginModel
@{
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div style="width:100%;display:flex;justify-content:center;padding:40px 0">
            <form method="post" style="border:solid black 1px;width:400px;border-radius:20px;padding:0 40px">
                <div style="width:100%;text-align:center">
                    <h3 style="font-weight:700">Login</h1>
                </div>
                <div class="row mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="row mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="row mb-3">
                    <input type="submit" class="btn btn-primary btn-block" value="Log In">
                </div>
                <div style="width:100%;text-align:center">
                    <a class="text-primary" href="/auth/register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Thêm SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Script để hiển thị popup -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const successMessage = '@Model.SuccessMessage';
        const errorMessage = '@Model.ErrorMessage';

        if (successMessage) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: successMessage,
            });
        }

        if (errorMessage) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: errorMessage,
            });
        }
    });
</script>
