@page
@model ShoeStore.Pages.Auth.RegisterModel
@{
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <div style="width:100%;display:flex;justify-content:center;padding:40px 0">
            <form method="post" style="border:solid black 1px;width:400px;border-radius:20px;padding:0 40px">
                <div style="width:100%;text-align:center">
                    <h3 style="font-weight:700">Register</h1>
                </div>
                <div class="row mb-3">
                    <input type="text" name="fullname" class="form-control" placeholder="Fullname">
                </div>
                <div class="row mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="row mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="row mb-3">
                    <input type="submit" class="btn btn-primary btn-block" value="Register">
                </div>
                <div style="width:100%;text-align:center">
                    <a class="underlineHover" href="/auth/login">Login</a>
                </div>
            </form>
        </div>

        <!-- Remind Passowrd -->

    </div>
</div>
